/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

body {
  background-color: #f8f8f8;
}

/* Grid */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
header {
  background-color: #eee;
  padding: 1rem 0;
}

header h1, header h2 {
  margin-bottom: 0.5rem;
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

header p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.link-github {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.link-github:hover {
  background-color: #0069d9;
}

.link-github svg {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

/* Nav */
nav {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li + li {
  margin-left: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #007bff;
}

/* Main */
main {
  background-color: #fff;
  padding: 2rem 0;
}

main h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

main p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

main ul {
  list-style: disc;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

main li